{% extends "base.html" %} {% block title %}UtilityBuddy{% endblock %}

{% block content %}
<html>
<head>
    <link rel="stylesheet" href="/static/styles_home.css">
</head>
<br>
<h1 style="text-align:center">UtilityBuddy</h1>
<br>
<body>
<div>
    <h3 style="text-align:center">About UtilityBuddy</h3>
    <p style="text-align:center">
        Thomas Alva Edison (February 11, 1847 – October 18, 1931) was an American inventor and businessman who has been
        described as America's greatest inventor.[1][2][3] He developed many devices in fields such as electric power
        generation, mass communication, sound recording, and motion pictures.[4] These inventions, which include the
        phonograph, the motion picture camera, and early versions of the electric light bulb, have had a widespread
        impact on the modern industrialized world.[5] He was one of the first inventors to apply the principles of
        organized science and teamwork to the process of invention, working with many researchers and employees. He
        established the first industrial research laboratory.
    </p>
</div>
<div>
    <h3 style="text-align:center">How it Works</h3>
    <p style="text-align:center">
        Thomas Alva Edison (February 11, 1847 – October 18, 1931) was an American inventor and businessman who has been
        described as America's greatest inventor.[1][2][3] He developed many devices in fields such as electric power
        generation, mass communication, sound recording, and motion pictures.[4] These inventions, which include the
        phonograph, the motion picture camera, and early versions of the electric light bulb, have had a widespread
        impact on the modern industrialized world.[5] He was one of the first inventors to apply the principles of
        organized science and teamwork to the process of invention, working with many researchers and employees. He
        established the first industrial research laboratory.
    </p>
</div>
<div>
    <h3 style="text-align:center">UtilityBuddy Updates</h3>
    <p style="text-align:center">
        Thomas Alva Edison (February 11, 1847 – October 18, 1931) was an American inventor and businessman who has been
        described as America's greatest inventor.[1][2][3] He developed many devices in fields such as electric power
        generation, mass communication, sound recording, and motion pictures.[4] These inventions, which include the
        phonograph, the motion picture camera, and early versions of the electric light bulb, have had a widespread
        impact on the modern industrialized world.[5] He was one of the first inventors to apply the principles of
        organized science and teamwork to the process of invention, working with many researchers and employees. He
        established the first industrial research laboratory.
    </p>
</div>
</body>
</html>
{% endblock %}

