{% extends "base.html" %} {% block title %}UtilityBuddy{% endblock %}

{% block content %}
<html>
<head>
    <link rel="stylesheet" href="/static/styles_home.css">
</head>
<br>
<h1 style="text-align:center">UtilityBuddy</h1>
<br>
<body>
<div>
    <h4 style="text-align:center">
        Take control of your utilities usage with UtilityBuddy™
    </h4>
    <p style="text-align:center">
        – the leader in affordable, easy-to-use utilities monitoring for residential and business use
    </p>
    <h3 style="text-align:center">About UtilityBuddy</h3>
    <p style="text-align:center">
        “I struggled with high utilities bills, but my provider didn’t provide enough data for me to
        understand my usage! I thought there had to be a better way…”
    </p>
    <p style="text-align:center">- Calum Evans, 2020</p>
    <p>That’s when UtilityBuddy™ was formed. In August 2021, from Calum’s humble living room, the team wirelessly
        received data from their first utility meter. In this ground-breaking moment, the team knew that they were onto
        something revolutionary.
    </p>
</div>
<div>
    <h3 style="text-align:center">How it Works</h3>
    <p>
        1. Plug in the UtilityBuddy™ to power with the provided USB-C cable. Connect the device to your Wi-Fi network.
    </p>
    <p>
        2. Add the meter IDs of the meters you would like to monitor. These are 9-digit numbers found on the top of Itron gas, water, and electricity meters.
    </p>
    <p>
        3. Sit back and watch your utilities usage with ease. You will see real-time utilities data, with this you’ll be notified of high-usage, bill estimation, leak detection, and more! New features continually being rolled out.
    </p>
</div>
<div>
    <h3 style="text-align:center">UtilityBuddy Updates</h3>
    <p style="text-align:center">
        March 2022 –The prototype successfully launches and showcased at ECE Capstone event.
    </p>
    <p style="text-align:center">
        February 2022 –UtilityBuddy Inc. takes on the world, unveiling the “UtilityBuddy™” to the public.
    </p>
    <p style="text-align:center">
        December 2021 –UtilityBuddy v2.0 is created. The worlds first all-in-one, affordable, utilities tracker.
    </p>
    <p style="text-align:center">
        October 2021 –UtilityTracker v1.0 is created. The first prototype of the utilities monitoring solution.
    </p>
    <p style="text-align:center">
        August 2021 –The capstone group forms and sets out on a mission.
    </p>
</div>
</body>
</html>
{% endblock %}

